.app-wrapper {
  display: grid;
  grid-template-areas: 
 'h h h h h h h h' 
 'n n c c c c c c' 
 'n n c c c c c c' 
 'n n c c c c c c' ;
 grid-gap: 5px;
  width: 80%;
  margin: auto;
}

.app-wrapper-content {
  grid-area: c;
}

.app-wrapper-content img {
  width: 700px;
  height: 250px;
  margin-left: 20px;
}



